<%= render "bookmarks/tags_sidebar" %>

<%= render "bookmarks/pagination" %>

<%= render "shared/notice_alert" %>

<div class="main">

<p class="help">
  <%= @message %>
</p>

  <table border="0">
    <%= render "bookmarks/table_header" %>
    <tbody>

      <% @bookmarks.each do |bookmark| %>

        <%= render partial: "bookmarks/bookmark", locals: {bookmark: bookmark} %>

      <% end %>
    </tbody>
  </table>
</div>