<%= render "bookmarks/tags_sidebar" %>

<%= render partial: "bookmarks/pagination", locals: {
   sortkey: @sortkey,
   direction: @direction } %>

<%= render "shared/notice_alert" %>

<div class="main">

<p class="help">
  <%= @message %>
</p>

  <table border="0">
    <%= render "bookmarks/table_header" %>
    <tbody>

      <% @bookmarks.each do |bookmark| %>

        <%= render partial: "bookmarks/bookmark", locals: {
          bookmark: bookmark,
          displaying: @displaying } %>

      <% end %>
    </tbody>
  </table>
</div>