<div class="main post-site">
  <p class="help">Welcome, stormville.</p>
  <fieldset class="chg">
    <legend>Post a site:</legend>

    <%= form_with scope: :bookmark, url: bookmarks_path, id: "new_bookmark" do |form| %>

    <% if @bookmark.errors.any?   %>
      Please use a valid URL.
    <%  end %>
      <!--  URL of bookmark -->
      <label class="firstCol" for="url">
        <span>URL:</span>
      </label>

      <input type="text" class="post_form url" name="bookmark[url]" value="<%= @bookmark.url %>" required>
      <div class="explanation">Example: https://www.mysite.com</div>

      <!-- NAME  -->
      <label class="firstCol" for="name">
        <span>Name:</span>
      </label>
      <input type="text" id="titleField" class="post_form" name="bookmark[name]" value="<%= @bookmark.name %>" required>

      <div class="explanation">Title of the site or name you wish to use for it</div>

      <!-- EXTENDED DESCRIPTION   -->
      <label class="firstCol" for="extended_desc">
        <span>Extended:</span>
      </label>

      <input type="text" class="post_form" name="bookmark[extended_desc]"> (optional)

      <div class="explanation">Optional extended description of the site</div>

      <!--  TAGS INPUT   -->
      <label class="firstCol" for="tags">
        <span>Tags:</span>
      </label>

      <input id="tagEntry" type="text" class="post_form" name="tags" size=80 required> (space separated)

      <div class="explanation">Keywords you would like to use to categorize the site</div>
       <!-- End of tags input    -->

      <div class="checkboxes">

        <!-- in rotation  -->
        <div class="checkbox">
          <label for="in-rotation">
            <%= form.check_box :in_rotation, class: "post_box"  %>
            In Rotation
          </label>
          -- Check here if you would like to regularly visit this site
        </div>

        <!--  private  -->
        <div class="checkbox private">
          <%= form.check_box :private, class: "post_box" %>
          <label for="private">Private</label> -- Do not display this bookmark to other users
        </div>
      </div>

      <input type="hidden" name="submit_type" value="save">

      <%= form.submit %>

    <% end %>
  </fieldset>

  <!-- AUTOCOMPLETE FOR TAGS   -->
Search tags: (beginning of tag)
  <form autocomplete="off">
    <input type="text" name="q" id="q" onKeyUp="showResults(this.value)" />
  <div id="result"></div>
  </form>

</div>

<script>
function showResults(val) {
  var dest = document.getElementById("tagEntry");
  res = document.getElementById("result");
  res.innerHTML = '';
  if (val == '') {
    return;
  }
  fetch('/tags/index?q=' + val).then(
    function (response) {
      return response.json();
    }).then(function (data) {
      myul = document.createElement("ul");
      for (i=0; i<data.length; i++) {
        var li_el = document.createElement("li");
        li_el.innerHTML = data[i];
        li_el.addEventListener("click", function(e) {
          chosen = this.innerHTML;
          dest.value += (" " + chosen);
        });
        myul.appendChild(li_el)
      }
      res.appendChild(myul);
      return true;
    }).catch(function (err) {
     console.warn('Something went wrong.', err);
     return false;
    });
}

  </script>
