<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'some', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'autocomp', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner">
      <div class="banner_right">
        <%= link_to "My bookmarks", bookmarks_path, class: "header" %>
        <%= link_to "Next in rotation", specials_vnsinro_path, target: "new", class: "header" %>
        <%= link_to "Show In-Rotation", specials_showinro_path, class: "header" %>
        <%= link_to "Random Bookmark", specials_random_path, class: "header" %>
        <%= link_to "Post a site", new_bookmark_path, class: "header" %>
        <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "header") %>

      </div>
      <div class="banner_text">
      <nobr>LarryBeth style!</nobr>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
